
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobileimage_17 */
.loginPage_mobileimage_17 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilecontainer */
.ui-content.loginPage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* userNameInput */
.loginPage_userNameInput {
	margin: 4px 0px 4px 0px;
}
/* passwordInput */
.loginPage_passwordInput {
	margin: 4px 0px 4px 0px;
}
/* mobilefooter */
.loginPage_mobilefooter {
	min-height:38px;
}
/* loginButton */
#loginPage_loginButton {

}
.ui-btn.loginPage_loginButton {
	margin: 4px 0px 4px 0px;
}