
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobileworkarea_4*/
.settingsDialog_mobileworkarea_4 {
	background-color: transparent;
	padding: 0px;
}
/* eoLogo */
.settingsDialog_eoLogo {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilecontainer */
.ui-content.settingsDialog_mobilecontainer {
	padding: 0px 15px 0px 15px;
}
/* mobileworkarea_2*/
.settingsDialog_mobileworkarea_2 {
	background-color: transparent;
	padding: 0px;
}
/* mobilegrid_5 */
.settingsDialog_mobilegrid_5 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.settingsDialog_mobilegrid_5_wrapper {

}
.settingsDialog_mobilegrid_5 > tr > td {
	vertical-align: top;
}
.settingsDialog_mobilegrid_5_row_0, .settingsDialog_mobilegrid_5_row_0 > td {
	height: 30px
}
/* mobilegridcell_6 */
.settingsDialog_mobilegridcell_6 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.settingsDialog_mobilegridcell_6 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_10 */
.settingsDialog_mobilelabel_10 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_7 */
.settingsDialog_mobilegridcell_7 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.settingsDialog_mobilegridcell_7 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* readRToggle */
.settingsDialog_readRToggle {
	margin: 4px 0px 4px 0px;
}
/* mobilefooter */
.settingsDialog_mobilefooter {
	min-height:38px;
}
/* mobileworkarea_3*/
.settingsDialog_mobileworkarea_3 {
	background-color: transparent;
	padding: 0px;
}